[Unit]
Description=Segotep Ice Moon / Digital Series AIO Display Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/segotep-digital --interval-ms 1000
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
